@media screen and (min-width: 1024px) {
  .header-wrapper {
    flex-direction: row;
    justify-content: space-between;
    width: 1024px;
  }
  .header-section h1 {
    margin-bottom: 1rem;
  }
  .search-section {
    margin-bottom: 0;
  }
}
